body {
  font-family: 'Fira Sans', sans-serif;
}

/* Nav Bar for large Screens */

#navBarLarge {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  background-color: #E8E1EF;
  border: 2px solid black;
}

#logo {
  display: flex;
  justify-content: flex-start;
  height: 32px;
  margin-left: 24px;
  align-items: center;
}

#navList {
  display: flex;
  justify-content: flex-start;
  margin-right: 24px;
}

#griffin {
  height: 32px;
}

#colmarText {
  font-weight: bold;
}

#academyText {
  color: #9BB291;
  font-weight: normal;
}
