
html {
  font-family: 'Fira Sans', sans-serif;
  color: black;
  background-color: honeydew;
  font-size: 16px;
  width: 100%;
}

article {
  width: 100%;
  height: auto;

}

h4 {
  font-size: 1.5rem;
  font-weight: bolder;
  line-height: 40px;
}

img {
  border-radius: 3%;
  box-shadow: 5px 5px 2px dimgrey;
}

.navBarImg{
  box-shadow: none;
}
/* Nav Bar for large Screens */

#navBarLarge {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  z-index: 99;
  background-color: #E8E1EF;
  border-bottom: 2px solid black;
}

#logo {
  display: flex;
  justify-content: flex-start;
  height: 32px;
  margin-left: 24px;
  align-items: center;
}

#navList {
  display: flex;
  justify-content: flex-start;
  margin-right: 24px;
}

#griffin {
  height: 32px;
  box-shadow: none;
}

#colmarText {
  font-weight: bold;
}

#academyText {
  color: #9BB291;
  font-weight: normal;
}

.navLink {
  margin-left: 16px;
}

.navLink > a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.navLink > a:visited {
  color: #9BB291;
}

.navLink > a:hover {
  font-size: 1.2rem;
  transition: 0.5s;
  transition-delay: 0.1s;
}


/* Navbar for Smaller Screens */

#navBarSmall {
  position: fixed;
  align-items: center;
  width: 100%;
  height: 64px;
  z-index: 99;
  background-color: #E8E1EF;
  border-bottom: 2px black solid;
  display: none;
}

#navBarSmall > nav {
  display: flex;
  justify-content: space-between;
  height: 32px;
  width: 100%;
  margin: 0 24px;
}
/* Media Query for NavBars */

@media only screen and (max-width: 600px) {
  #navBarLarge {
    display: none;
  }
  #navBarSmall {
    display: flex;
  }
}


/* Banner Section Styles */

.largeSection {
  position: relative;
top: 66px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: start;
-ms-flex-pack: start;
        justify-content: flex-start;
width: 100%;
}

.largeImg {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: 60%;
  height: 100%;
  margin: 32px 24px;
}

.largeSection > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 4;
      flex-shrink: 4;
  width: 40%;
}

.bannerSpacing {
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -ms-flex-negative: 3;
        flex-shrink: 3;
    margin: 24px 0;
    padding: 8px 0;
    width: 65%;
}

.largeSection > div > h2 {
  font-size: 3rem;
  font-weight: bold;
}

.largeSection > div > h3 {
  font-size: 1.3rem;
}

.largeSection > div > p {
  background-color: #E8E1EF;
  text-align: center;
  border: 1px black solid;
  border-radius: 10px;
  display: block;
}

@media only screen and (max-width: 800px) {
  .largeSection {
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   padding: 0;
   margin: 0;
}
  .largeImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
  .bannerSpacing {
    margin: 32px 16px;
    width: auto;
  }
  .largeSection > div {
  display: block;
  flex-direction: column;
  height: 100%;
    width: 100%;
    padding: 0;
  }
  .largeSection > div > h2 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  .largeSection > div > h3 {
    margin-bottom: 0;
  }
  .largeSection > div > p {
    margin-top: 24px;
    width: 93%;
  }
  #infoLeft {
    display: none;
  }
  #container {
    display: none;
  }
}


/* Info Section */
#info {

}

#infoLeft {
  width: 60%;
  padding-left: 24px;

}

#infoImg {
  margin: 0;
  width: 100%;
  height: inherit;
  margin-bottom: 32px;
}

#infoH3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.practiceText {
  margin-bottom: 32px;
}

#author {
  font-style: italic;
  font-variant: small-caps;
}

#infoSquares {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.infoRight {
  padding: 16px;
  flex-direction: row !important;
}

.infoRight > img {
  width: 35%;
  height: 35%;
  padding-right: inherit;
}

#infoBlock1 {
  display: flex;
  justify-content: space-around;
  padding: 0;
  padding-bottom: 16px;
  width: auto;
}

#infoBlock2 {
  display: flex;
  justify-content: space-around;
  padding: 0;
  padding-bottom: 16px;
  width: auto;
}

#infoBlock3 {
  display: flex;
  justify-content: space-around;
  padding: 0;
  padding-bottom: 16px;
  width: auto;
}

.switch {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.blockH4 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 50px;
}

.readMore {
  text-decoration: none;
  color: #6B7BEF;
  transition: 0.2s;
}

.readMore:hover {
  font-size: 1.2rem;
  transition: 0.5s;
  transition-delay: 0.1s;
}

.readMore:visited {
  color: #6B7BEF;
}

#container {
  justify-content: flex-start;
}

#infoSmall {
  display: none;
}

@media only screen and (max-width: 800px) {
  #infoSmall {
    position: relative;
    top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 5;
  }
  .smallInfoBox {
    display: flex;
    flex-direction: column;
    width: inherit;
    align-items: center;
    margin-bottom: 64px;
  }
  .flexInfo {
    display:flex;
    width: 95%;
    height: auto;
    flex-shrink: 6;
  }
  .smallInfoBox > h4, p {
    align-self: flex-start;
    padding-left: 32px;
  }
  .smallInfoBox > h4 {
    margin-top: 16px;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 40px;
  }
}

/* Learning Section */

#learning {
  background-image: linear-gradient(#f0fff0, #E8E2CE);
  position: relative;
  top: 70px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 32px 72px;
}

#learning > h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 16px;
}

#learningInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.learningBox {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 16px 0;
}


.learningBox > img {
  height: auto;
  align-self: stretch;
  width: 100%;
}

.learningText {
  padding: 0 16px;
}

.learningSubject {
  padding-top: 16px;
  padding-bottom: 8px;
}

.learningCourses {
    padding-bottom: 8px;
}

.learningBreakdown {

}

@media only screen and (max-width: 750px) {
  #learning {
    padding: 32px 0;
  }
  #learningInfo {
    flex-direction: column;
    align-items: stretch;
  }
  .learningBox {
    width: 100%
  }
  .learningBox > img, .learningCourses, .learningBreakdown  {
    display: none;
  }
  .learningSubject {
    display: flex;
    padding: 16px;
    padding-bottom: 24px;
    margin-bottom: 8px;
    background-color: #898C90;
  }
}

/* Thesis Code */

#thesis {
  background-color:  #E8E2CE;
  position:relative;
  top: 64px;
  display: flex;
  flex-direction: column;
}

#thesis > h3 {
  font-size: 2.1rem;
  font-weight: bolder;
  display: inherit;
  align-items: stretch;
  justify-content: center;
  padding: 32px 0;
}

#thesisWhole {
  display: inherit;
}

#videoDiv {
  display: inherit;
  flex-direction: column;
  width: 60%;
  padding: 0 24px;
}

#videoDiv > video {
  display: inherit;
  flex-direction: row;
  justify-content: stretch;
  width: 100%;
  height: auto;
}

#videoDivH4 {
  padding-top: 24px;
  padding-bottom: 8px;
}

#videoDivP {
  padding-bottom: 32px;
  word-spacing: 1.1rem;
}

#thesisInfo {
  display: inherit;
  flex-direction: column;
  width: 40%;
}

#thesisBlock1 {
  display: inherit;
}

#thesisBlock2 {
  display: inherit;
}

#thesisImg1, #thesisImg2 {
  padding-right: 0;
}

.text-move {
  padding-left: 24px;
}

@media only screen and (max-width: 800px) {
  #thesisWhole {
    width: 100%
  }
  #videoDiv {
    width: 100%;
    margin-bottom: 24px;
  }
  #videoDivH4, #videoDivP, #thesisInfo, #thesisBlock1, #thesisBlock2 {
    display: none;
  }
}

/* Footer  */
footer{
  background-color: rgb(56, 72, 87);
  color: rgb(255, 255, 255);
  border-top: 0.45px solid rgba(9, 6, 0, 0.7);
  border-top: 0.025rem solid rgba(9, 6, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 95.399px;
  height: 5.3rem;
  position: relative;
  top: 65px;
}

.copyright,
.terms,
.icons{
  padding: 16.001px 23.994px;
  padding: 0.889rem 1.333rem;
}

footer a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding-left: 16.001px;
  padding-left: 0.889rem;
  font-size: 1.25vw;
}

.icons{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}

.icons i{
  padding-left: 16.001px;
  padding-left: 0.889rem;
}

footer .tablet{
  display: none;
}

@media only screen and (max-width: 1024px){
  footer p{
    font-size: 1.4vw;
  }
}

@media only screen and (max-width: 768px){
  footer .tablet{
    display: block;
  }

  footer .desktop{
    display: none;
  }
}

@media only screen and (max-width: 1920px){
  footer p{
    font-size: 1.25vw;
  }
}
@media only screen and (max-width: 580px){
  footer .icons,
  footer .terms{
    display: none;
  }

  footer p{
    font-size: 2.72vw;
  }

  footer{
    height: 2.667rem;
  }
}
/* Why Box Testing Code */

.why {
  border: red 2px solid;
}
